html {
	height: 100%;
}

* {
	font-family: 'Nunito', sans-serif;
	font-weight: normal;
	font-synthesis: weight style small-caps;
	font-style: normal;
}

body {
	background-color: #dc7891;
	color: #4e1e1b;
	font-size: 13px;
	height: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

table,
tr,
td {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #675145;
}

a:hover:enabled {
	text-decoration: underline;
}

.button {
	background-color: #ffb6c8;
	border-color: #ffb6c8;
	color: #985264;
}

.container {
	width: 950px;
	overflow: hidden;
	margin: 0 auto;
	padding-top: 20px;
}

.footer {
	clear: both;
	width: 800px;
	margin: 0 auto;
	border-top: 1px dashed #ccc;
	padding: 15px 0 20px;
	text-align: center;
	color: #985264;
	font-size: 12px;
	line-height: 1.5;
}

.highlight {
	text-decoration: none;
	color: #675145;
}

.header {
	clear: both;
	width: 800px;
	margin: 0 auto;
	padding: 15px;
	text-align: center;
	color: #985264;
	font-size: 30px;
	line-height: 1.5;
}

h1 {
	font-size: 30px;
	font-weight: bold;
	margin: 15px;
	text-align: center;
}

.controls {
	float: left;
	height: 680px;
	width: 150px;
	background-color: #985264;
	border: 2px solid #4e1e1b;
	border-radius: 5px;
}

.control-group {
	background-color: #ffdeb8;
	border: 2px solid #a9736b;
	border-radius: 5px;
	color: #675145;
	margin-bottom: 20px;
	padding: 15px 12px;
	text-align: center;

}

.title {
	color: #fff;
}

.control-group h3 {
	color: #000;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 10px;
}

.control-group .control-section {
	padding: 3px 0 7px 3px;
	text-align: left;
}

.control-group input[type=checkbox] {
	vertical-align: middle;
}

.control-group label {
	font-size: 12px;
	vertical-align: middle;
}

.control-group span {
	font-size: 12px;
}

.custom {
	border-top: 1px dashed #ccc;
	margin-top: 15px;
	padding-top: 15px;
}

.custom h5 {
	color: #666;
	font-size: 11px;
}

#customGame {
	background-color: #ffb6c8;
	border-color: #ffb6c8;
	color: #985264;
}

#customGame:hover {
	color: #dc7891;
}

.custom input[type=text] {
	border: 1px solid #eee;
	margin-bottom: 10px;
	padding: 2px;
	text-align: center;
	width: 120px;
}

#galleryStudy {
	font-weight: bold;
	margin: 10px;
	padding: 5px 5px;
	background-color: #ffb6c8;
	border-color: #ffb6c8;
	color: #985264;
}

#galleryStudy:hover {
	color: #dc7891;
}

#new {
	font-weight: bold;
	padding: 5px 10px;
	background-color: #ffb6c8;
	border-color: #ffb6c8;
	color: #985264;
}

#new:hover:enabled {
	color: #dc7891;
}

#solve {
	font-size: 15px;
	font-weight: bold;
	padding: 10px;
	background-color: #ffb6c8;
	border-color: #ffb6c8;
	color: #985264;
}

#solve:hover:enabled {
	color: #dc7891;
}

#solve:disabled {
	background-color: #efefef;
	border-color: #efefef;
	color: #101010;
}

#seed {
	background-color: #efefef;
	width: 120px;
}

.stats {
	float: right;
	height: 680px;
	width: 150px;
	background-color: #985264;
	border: 2px solid #4e1e1b;
	border-radius: 5px;
}

#original-charms {
	width: 125px;
	margin: auto;
	text-overflow: clip;
}

.other {
	float: right;
	height: 680px;
	width: 150px;
	background-color: #985264;
	border: 2px solid #4e1e1b;
	border-radius: 5px;
}

#progress {
	color: #dc7891;
	font-size: 20px;
	font-weight: bold;
}

#progress.done {
	color: #080;
}

#puzzle {
	margin: auto;
	width: 600px;
}

#puzzle tr:nth-child(even):not(:first-child) td.key.left {
	background-color: #ffb6c8;
}

#puzzle tr:nth-child(odd):not(:first-child) td.key.left {
	background-color: #ffe4c6;
}

#puzzle td.top:nth-of-type(even):not(:first-child) {
	background-color: #ffe4c6;
}


#puzzle td.top:nth-of-type(odd):not(:first-child) {
	background-color: #ffb6c8;
}

#puzzle td:nth-child(5n + 1) {
	border-right: 2px double #c2a6a2;
}

#puzzle td.cell:nth-child(5n + 1) {
	border-right: 2px double #c2a6a2;
}

#puzzle tr:nth-child(5n + 1) td {
	border-bottom: 2px double #c2a6a2;
}

#puzzle tr:nth-child(5n + 2) td {
	border-top: 2px double #c2a6a2;
}

#puzzle td.key {
	font-weight: bold;
}

#puzzle td.key em {
	color: #b89e93;
}

#puzzle td.key.left em,
#puzzle td.key.left strong {
	margin-right: 5px;
	padding: 0 1px;
}

#puzzle.complete td.key strong {
	background-color: #985264;
	color: #fff;
}

#puzzle td.key.top {
	line-height: 1.3;
	padding-bottom: 5px;
	padding-top: 1em;
	text-align: center;
	vertical-align: bottom;
	border-radius: 2px 2px 10px 10px;
}

#puzzle td.key.left {
	min-width: 25px;
	padding-right: 3px;
	padding-left: 1em;
	text-align: right;
	vertical-align: middle;
	border-radius: 2px 10px 10px 2px;
}

#puzzle td.cell {
	background-color: #fff;
	border: 2px solid #ffb6c8;
	color: #ffb6c8;
	content: "";
	text-align: center;
	vertical-align: middle;
}

#puzzle td.cell.hoverLight {
	background-color: #FFFFFF;
}

#puzzle td.cell.hover {
	border: 3px #ff8a29 solid !important;
}

#puzzle td.cell.s9 {
	background-color: #ffe4c6;
}

#puzzle.complete td.cell {
	background-color: #fff;
	box-shadow: none;
}

#puzzle.complete td.cell.s11 {
	background-color: #ffb6c8;
}

#puzzle.complete td.cell.s11::after {
	content: "\d7";
	color: #fff;
	font-size: 1.4em;
	text-align: center;
	vertical-align: middle;
}

#puzzle.complete td.cell.s12 {
	background-color: #675145;
}

#puzzle.complete td.cell.s12::after {
	content: "\d7";
	color: #fff;
	font-size: 1.4em;
	text-align: center;
	vertical-align: middle;
}

#puzzle td.cell.s1::after {
	content: "\d7";
	color: #ffb6c8;
	font-size: 1.4em;
	text-align: center;
	vertical-align: middle;
}

#puzzle.complete td.cell.s1 {
	background-color: #eee;
}

#puzzle.complete.perfect td.cell.s1 {
	background-color: #eeec;
}

#puzzle.complete td.cell.s1::after {
	content: "\d7";
	color: #c2a6a2;
	font-size: 1.4em;
	text-align: center;
	vertical-align: middle;
}

#puzzle td.cell.s2 {
	background-color: #675145;
}

#puzzle td.cell.hover {
	border: 3px #ff8a29 solid !important;
}

#puzzle.complete.perfect {
	/* source: https: //codepen.io/P1N2O/pen/pyBNzX */
	/* character references:         periwinkle,	astragalus, cassia,		pastille, 	senna	*/
	background: linear-gradient(90deg, #bedbff, #f3daff, #ffb6c8, #ffdaed, #ffdeb8);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

#puzzle.complete.perfect td.key {
	background-color: #dc7891;
}

#puzzle.complete.perfect td.cell.s2 {
	background-color: transparent;
}

#puzzle.complete.perfect tr:nth-child(even):not(:first-child) td.key.left {
	background-color: #ffb6c8;
	opacity: 0.75;
}

#puzzle.complete.perfect tr:nth-child(odd):not(:first-child) td.key.left {
	background-color: #ffe4c6;
	opacity: 0.75;
}

#puzzle.complete.perfect td.top:nth-of-type(even):not(:first-child) {
	background-color: #ffe4c6;
	opacity: 0.75;
}

#puzzle.complete.perfect td.top:nth-of-type(odd):not(:first-child) {
	background-color: #ffb6c8;
	opacity: 0.75;
}

iframe {
	display: block;
	text-align: center;
	margin: auto;
}

#time {
	font-size: 20px;
	font-weight: bold;
}