@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

* {
	font-family: 'Nunito', sans-serif;
	font-weight: normal;
	font-synthesis: weight style small-caps;
	font-style: normal;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #675145;
}

h1 {
	font-size: 30px;
	font-weight: bold;
	margin: 15px;
	text-align: center;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-corner {
	background-color: #dc789144;
}

::-webkit-scrollbar-thumb {
	background-color: #ffdeb8;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #ffe4c6;
}

::-webkit-scrollbar-track {
	background-color: #dc789144;
}

a:hover {
	text-decoration: underline;
}

.charm-header {
	background-color: #dc7891;
	color: #ffdeb8;
	font-weight: bold;
	text-align: center;
	text-decoration: dotted underline;
}

.container {
	width: 950px;
	margin: 0 auto;
	padding-top: 15px;
	text-align: center;
	vertical-align: middle;
}

.control-group {
	background-color: #ffdeb8;
	border: 2px solid #a9736b;
	border-radius: 5px;
	color: #675145;
	margin-bottom: 20px;
	padding: 15px 12px;
	text-align: center;
}

.control-group .control-section {
	padding: 3px 0 7px 3px;
	text-align: left;
}

.control-group h3 {
	color: #000;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 10px;
}

.control-group input[type=checkbox] {
	vertical-align: middle;
}

.control-group label {
	font-size: 12px;
	vertical-align: middle;
}

.control-group span {
	font-size: 10px;
}

.control-group span.stat {
	font-size: 16px;
}

.controls {
	float: left;
	height: 680px;
	width: 150px;
	background-color: #985264;
	border: 2px solid #4e1e1b;
	border-radius: 5px;
}

.custom {
	border-top: 1px dashed #ccc;
	margin-top: 15px;
	padding-top: 15px;
}

.custom h5 {
	color: #666;
	font-size: 11px;
}

.custom input[type=text] {
	border: 1px solid #eee;
	margin-bottom: 10px;
	padding: 2px;
	text-align: center;
	width: 120px;
}

td {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.footer {
	clear: both;
	width: 950px;
	margin: 0 auto;
	border-top: 1px dashed #ccc;
	padding: 15px 0 20px;
	text-align: center;
	color: #985264;
	font-size: 12px;
	line-height: 1.5;
}

iframe {
	display: block;
	text-align: center;
	margin: auto;
}

#galleryStudy {
	margin: 10px;
	padding: 5px 5px;
}

.group-astras-garden {
	background-color: #275a6b;
	color: #48ada8;
}

.group-bad-end-theater {
	background-color: #000;
	color: #fff;
}

.group-contract-demon {
	background-color: #41001d;
	color: #c3234b;
}

.group-nami-charms {
	background-color: #dc7891;
	color: #fff;
}

.group-starry-flowers {
	background-color: #9dbdfc;
	color: #212c5a;
}

.group-syrup-and-the-ultimate-sweet {
	background-color: #f7e7ff;
	color: #353535;
}

.header {
	clear: both;
	width: 950px;
	margin: 0 auto;
	padding-bottom: 15px;
	text-align: center;
	color: #985264;
	font-size: 30px;
	line-height: 1.5;
}

.highlight {
	color: #675145;
}

#new {
	font-weight: bold;
	padding: 5px 10px;
}

body {
	background-color: #dc7891;
	color: #4e1e1b;
	font-size: 13px;
	height: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: 'Nunito', sans-serif;
}

body.dark {
	background-color: #86233b;
	color: #e4b3af;
}

body.dark #progress {
	color: #86233b;
}

body.dark #progress.done {
	color: #75ff75;
}

body.dark #puzzle td.cell {
	background-color: #000;
	/* border: 2px solid #470012; */
}

body.dark #puzzle td.cell.hoverLight {
	background-color: #2f363f;
}

body.dark #puzzle td.cell.hoverLight.hover {
	box-shadow: 0 0 0 1px #bedbff inset;
}

body.dark #puzzle td.cell.s2 {
	background-color: #baa397;
}

body.dark #puzzle td.cell.s9 {
	background-color: #876935bb;
}

body.dark #puzzle td.cell:nth-child(5n + 1) {
	border-right: 2px solid #ffe4c6;
}

body.dark #puzzle td.key em {
	color: #6c5247;
}

body.dark #puzzle td.top:nth-of-type(even):not(:first-child) {
	background-color: #381e00;
}

body.dark #puzzle td.top:nth-of-type(odd):not(:first-child) {
	background-color: #470012;
}

body.dark #puzzle td:nth-child(5n + 1) {
	border-right: 2px solid #ffe4c6;
}

body.dark #puzzle tr:nth-child(5n + 1) td {
	border-bottom: 2px solid #ffe4c6;
}

body.dark #puzzle tr:nth-child(5n + 2) td {
	border-top: 2px solid #ffe4c6;
}

body.dark #puzzle tr:nth-child(even):not(:first-child) td.key.left {
	background-color: #470012;
}

body.dark #puzzle tr:nth-child(odd):not(:first-child) td.key.left {
	background-color: #381e00;
}

body.dark #puzzle.complete td.cell.s1 {
	background-color: #111;
}

body.dark #puzzle.complete td.cell.s1::after {
	color: #5d413c;
}

body.dark #puzzle.complete.perfect {
	background: linear-gradient(90deg, #5f7da1, #866d92, #a35b6d, #926d80, #a1815c);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

body.dark #puzzle.complete.perfect td.cell.s1 {
	background-color: #808080cc;
}

body.dark #puzzle.complete.perfect td.key {
	background-color: #86233b;
}

body.dark #puzzle.complete.perfect td.top:nth-of-type(even):not(:first-child) {
	background-color: #381e00;
	opacity: 0.75;
}

body.dark #puzzle.complete.perfect td.top:nth-of-type(odd):not(:first-child) {
	background-color: #470012;
	opacity: 0.75;
}

body.dark #puzzle.complete.perfect tr:nth-child(even):not(:first-child) td.key.left {
	background-color: #470012;
	opacity: 0.75;
}

body.dark #puzzle.complete.perfect tr:nth-child(odd):not(:first-child) td.key.left {
	background-color: #381e00;
	opacity: 0.75;
}

body.dark #seed {
	background-color: #0f0f0f;
	color: #fff;
	border: 1px solid #8a8a8a;
}

body.dark button:disabled {
	background-color: #101010;
	border-color: #101010;
	color: #efefef;
}

body.dark .control-group {
	background-color: #472600;
	border: 2px solid #945f57;
	border-bottom: 2px solid #000;
	box-shadow: none;
	color: #baa397;
}

body.dark .control-group h3 {
	color: #eee;
}

body.dark .controls {
	background-color: #ad6778;
	border: 2px solid #e4b3af;
}

body.dark .custom h5 {
	color: #999;
}

body.dark .header {
	color: #ad6778;
}

body.dark .highlight {
	color: #baa397;
}

body.dark .smol.full {
	color: #75ff75;
}

body.dark .smol.partial {
	color: #57a2ff
}

body.dark .stats {
	background-color: #ad6778;
	border: 2px solid #e4b3af;
}

body.dark a {
	color: #f5c4c0;
}

body.dark input {
	background-color: #000;
	color: #fff;
	border: 1px solid #8a8a8a;
}

body.dark select {
	background-color: #000;
	color: #fff;
	border: 1px solid #8a8a8a;
}

body.dark select hr {
	background-color: #fff;
	border: none;
}

#original-charms {
	width: 125px;
	margin: auto;
	text-overflow: clip;
}

.other {
	float: right;
	height: 680px;
	width: 150px;
	background-color: #985264;
	border: 2px solid #4e1e1b;
	border-radius: 5px;
}

#progress {
	color: #dc7891;
	font-size: 20px;
	font-weight: bold;
}

#progress.done {
	color: #127a0a;
}

#puzzle {
	table-layout: fixed;
	margin: auto;
	width: fit-content;
	height: fit-content;
	max-width: 600px;
	max-height: 650px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-content: center;
}

#oopsies {
	font-size: 25px;
}

#puzzle td.cell {
	background-color: #fff;
	border: 2px solid #ffb6c8;
	color: #ffb6c8;
	content: "";
	text-align: center;
	vertical-align: middle;
}

#puzzle td.cell.hover {
	border: 3px #ff8a29 solid !important;
}

#puzzle td.cell.hover {
	border: 3px #ff8a29 solid !important;
}

#puzzle td.cell.hoverLight {
	background-color: #feeaf5;
}

#puzzle td.cell.hoverLight.hover {
	box-shadow: 0 0 0 1px #ffdaed inset;
}

/* alt cell styles? could use for preset puzzles with only one solution
#puzzle.complete td.cell.s11 {
	background-color: #ffb6c8;
}

#puzzle.complete td.cell.s11::after {
	content: "\d7";
	color: #fff;
	font-size: 1.4em;
	text-align: center;
	vertical-align: middle;
}

#puzzle.complete td.cell.s12 {
	background-color: #675145;
}

#puzzle.complete td.cell.s12::after {
	content: "\d7";
	color: #fff;
	font-size: 1.4em;
	text-align: center;
	vertical-align: middle;
}
*/
#puzzle td.cell.s1::after {
	content: "\d7";
	color: #ffb6c8;
	font-size: 1.4em;
	text-align: center;
	vertical-align: middle;
}

#puzzle td.cell.s2 {
	background-color: #675145;
}

#puzzle td.cell.s9 {
	background-color: #ffe4c6;
}

#puzzle td.cell:nth-child(5n + 1) {
	border-right: 2px solid #470012;
	;
}

#puzzle td.key {
	font-weight: bold;
}

#puzzle td.key em {
	color: #b89e93;
}

#puzzle td.key.left {
	min-width: 25px;
	padding-right: 3px;
	padding-left: 1em;
	text-align: right;
	vertical-align: middle;
	border-radius: 2px 10px 10px 2px;
}

#puzzle td.key.left em,
#puzzle td.key.left strong {
	margin-right: 5px;
	padding: 0 1px;
}

#puzzle td.key.top {
	line-height: 1.3;
	padding-bottom: 5px;
	padding-top: 1em;
	text-align: center;
	vertical-align: bottom;
	border-radius: 2px 2px 10px 10px;
}

#puzzle td.top:nth-of-type(even):not(:first-child) {
	background-color: #ffe4c6;
}

#puzzle td.top:nth-of-type(odd):not(:first-child) {
	background-color: #ffb6c8;
}

#puzzle td:nth-child(5n + 1) {
	border-right: 2px solid #470012;
	;
}

#puzzle tr:nth-child(5n + 1) td {
	border-bottom: 2px solid #470012;
	;
}

#puzzle tr:nth-child(5n + 2) td {
	border-top: 2px solid #470012;
	;
}

#puzzle tr:nth-child(even):not(:first-child) td.key.left {
	background-color: #ffb6c8;
}

#puzzle tr:nth-child(odd):not(:first-child) td.key.left {
	background-color: #ffe4c6;
}

#puzzle.complete td.cell {
	background-color: #eee;
	box-shadow: none;
}

#puzzle.complete td.cell.s1 {
	background-color: #eee;
}

#puzzle.complete td.cell.s1::after {
	content: "\d7";
	color: #c2a6a2;
	font-size: 1.4em;
	text-align: center;
	vertical-align: middle;
}

#puzzle.complete td.key strong {
	background-color: #985264;
	color: #fff;
}

#puzzle.complete.perfect {
	/* character references:         periwinkle,	astragalus, cassia,		pastille, 	senna	*/
	background: linear-gradient(90deg, #bedbff, #f3daff, #ffb6c8, #ffdaed, #ffdeb8);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	width: fit-content;
	height: fit-content;
}

#puzzle.complete.perfect td.cell.s1 {
	background-color: #eeec;
}

#puzzle.complete.perfect td.cell.s2 {
	background-color: transparent;
}

#puzzle.complete.perfect td.key {
	background-color: #dc7891;
}

#puzzle.complete.perfect td.top:nth-of-type(even):not(:first-child) {
	background-color: #ffe4c6;
	opacity: 0.75;
}

#puzzle.complete.perfect td.top:nth-of-type(odd):not(:first-child) {
	background-color: #ffb6c8;
	opacity: 0.75;
}

#puzzle.complete.perfect tr:nth-child(even):not(:first-child) td.key.left {
	background-color: #ffb6c8;
	opacity: 0.75;
}

#puzzle.complete.perfect tr:nth-child(odd):not(:first-child) td.key.left {
	background-color: #ffe4c6;
	opacity: 0.75;
}

#seed {
	background-color: #efefef;
	width: 120px;
}

.smol {
	font-size: 70%;
}

.smol.full {
	color: #080;
	text-decoration: underline;
}

.smol.partial {
	color: #004ca8;
	text-decoration: dotted underline;
}

#solve {
	width: 121.33px;
	font-size: 15px;
	padding: 10px;
}

button:disabled {
	background-color: #efefef;
	border-color: #efefef;
	color: #101010;
}

.stats {
	float: right;
	height: 680px;
	width: 150px;
	background-color: #985264;
	border: 2px solid #4e1e1b;
	border-radius: 5px;
}

#time {
	font-size: 20px;
	font-weight: bold;
}

.title {
	color: #fff;
}

html {
	height: 100%;
}

.player {
	border-radius: 10px;
	overflow: hidden;
}

.tooltip {
	position: relative;
	text-decoration: dotted underline;
}

.tooltip .tooltiptext {
	position: absolute;

	/* vertically center */
	top: 50%;
	transform: translateY(-50%);

	/* move to right */
	left: 100%;
	margin-left: 15px;

	/* basic styles */
	white-space: pre-wrap;
	width: max-content;
	padding: 10px;
	border: 2px solid #4e1e1b;
	border-radius: 3px;
	background: #ffdeb8;
	color: #4e1e1b;
	text-align: left;

	display: none;
	/* hide by default */
}

.tooltip:hover .tooltiptext {
	display: block;
	z-index: 1;
}

body.dark .tooltip .tooltiptext {
	background: #472600;
	color: #e4b3af;
	border: 2px solid #e4b3af;
}

.tooltip:after {
	content: "";
	position: absolute;

	/* position tooltip correctly */
	left: 100%;
	margin-left: -5px;

	/* vertically center */
	top: 50%;
	transform: translateY(-50%);

	/* the arrow */
	border: 11px solid #4e1e1b;
	border-color: transparent #4e1e1b transparent transparent;

	display: none;
}

.tooltip:hover:before,
.tooltip:hover:after {
	display: block;
}

body.dark .tooltip:after {
	border: 11px solid #e4b3af;
	border-color: transparent #e4b3af transparent transparent;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #ffb6c888;
}

body.dark .modal {
	background-color: #47001288;
}

.modal-content {
	font-size: 18px;
	background-color: #ffdeb8;
	margin: 15% auto;
	padding: 20px;
	border: 4px solid #a9736b;
	border-radius: 5px;
	width: fit-content;
	max-width: 950px;
	text-align: center;

}

body.dark .modal-content {
	background-color: #472600;
	color: #baa397;
	border: 4px solid #945f57;
}

.modal-close:hover,
.modal-close:focus {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	color: #cc6600;
	font-size: 24px;
	font-weight: bold;
}

.modal-body {
	padding: 2px 16px;
	text-align: left;
}

.modal-highlight {
	color: #cc6600;
	font-weight: bold;
}

.bold-button {
	font-weight: bold;
	width: max-content;
	background-color: #ffb6c8;
	border-color: #ffb6c8;
	color: #985264;
}

.bold-button:hover {
	color: #dc7891;
}

body.dark .bold-button {
	background-color: #470012;
	border-color: #470012;
	color: #ad677e;
}

body.dark .bold-button:hover {
	color: #86233b;
}

.regular-button {
	width: max-content;
	background-color: #ffb6c8;
	border-color: #ffb6c8;
	color: #985264;
}

.regular-button:hover {
	color: #dc7891;
}

body.dark .regular-button {
	background-color: #470012;
	border-color: #470012;
	color: #ad677e;
}

body.dark .regular-button:hover {
	color: #86233b;
}

.footer-button {
	width: max-content;
	background-color: #ffb6c8;
	color: #985264;
	border: none;
}

.footer-button:hover {
	background-color: #ffdeb8;
	color: #985264;
}

body.dark .footer-button {
	background-color: #470012;
	color: #ad677e;
	border: none;
}

body.dark .footer-button:hover {
	background-color: #472600;
	color: #985264;
}



.debug-button {
	width: max-content;
	background-color: #dd94a6;
	border-color: #dd94a6;
	color: #763042;
}

body.dark .debug-button {
	background-color: #6d2235;
	border-color: #6d2235;
	color: #ce8899;
}

img {
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#experience-container {
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	width: fit-content;
	background-color: #ffdeb8;
	border: #a9736b 2px solid;
	border-radius: 10px;
}

body.dark #experience-container {
	background-color: #472600;
	border: #945f57 2px solid;
}

#pause-message {
	margin-left: auto;
	margin-right: auto;
	height: 650px;
	line-height: 650px;
	font-size: 30px;
}

#pause-mode {
	font-size: 20px;
}

#prestigeExperience:enabled {
	width: max-content;
	background-color: #ff972f;
	border-color: #cc6600;
	color: #675145;
	font-weight: bold;
}

#prestigeExperience:enabled:hover {
	color: #fff;
}

.update-categories > category {
	background-color: #efefef88;
	width: fit-content;
	font-size: 80%;
	padding-left: 5px;
	padding-right: 5px;
}

body.dark .update-categories > category {
	background-color: #10101088;	
}